

# eclipse workspace metadata #
##############################
.metadata
.pydevproject~

# pdfs (made from rsts) #
#########################
*.pdf

# compiled python files #
#########################
*.pyc

# temporary files #
###################

notesTemp.rst
*.*~
